<div class="jumbotron">
  <center>
    <h1>Welcome to DOJO</h1>
    <img src="https://goo.gl/bRXYhQ" alt="MIXTED MARTIAL ARTS">
    <br>
    <%= link_to "Donde entrenar?", marcialarts_path, class: "btn btn-default" %>
  </center>  
</div>